<div class="grid-container" @fadeInBottom>
  <h1><span class="hero-primary">Events</span></h1>
  <div class="filter">
    <mat-slide-toggle
      color="primary"
      class="my-events-slide"
      [(ngModel)]="seeMyEvents"
      [disabled]="(auth$ | async) === null"
    >
      Toggle to see only my events
    </mat-slide-toggle>
  </div>
  <div class="events-container">
    <div class="event" *ngFor="let event of (seeMyEvents ? myEvents$ : events$) | async; trackBy: byId">
      <mat-card class="event-card">
        <img mat-card-image src="{{ event.imageUrl }}" alt="{{ event.title }}">
        <mat-card-content>
          <mat-card-subtitle class="card-subtitle">
            <span class="location"><mat-icon>location_on</mat-icon> {{ event.location }}</span>
            <span class="date"><mat-icon>today</mat-icon> {{ event.date | date }}</span>
          </mat-card-subtitle>
          <mat-card-title class="card-title">{{ event.title }}</mat-card-title>
          <div class="actions">
            <a mat-raised-button color="accent"
              href="https://calendar.google.com/calendar/r/eventedit?text={{event.title}}&dates={{event.date | date: 'yyyyMMdd' }}/{{event.date | date: 'yyyyMMdd' }}&details={{event.description}}&location={{event.location}}&sf=true"
              target="blank"
            >
              Add to calendar
            </a>
            <button mat-raised-button class="btn-hero-primary" color="primary" [routerLink]="[event.id]">
              Details
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="fab-container">
    <button mat-fab color="primary" class="btn-hero-primary" [routerLink]="['add']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
