@import 'src/app/shared/styles/variables';
@import '~bootstrap/scss/mixins';

.events-container {
  @include make-row;
  .event {
    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(4);
    }
    margin-bottom: 1rem;
  }
}

.actions {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.card-subtitle {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.location, .date {
  display: flex;
  align-items: center;
}

.my-events-slide {
  margin-bottom: 1rem;

}
