<div class="grid-container">
  <mat-card class="add-edit-event-card" @fadeInBottom>
    <div class="section-title">
      <h1>
        <span class="hero-primary" *ngIf="!edit">Add Event</span>
        <span class="hero-primary" *ngIf="edit">Edit Event</span>
      </h1>
    </div>
    <div class="form">

      <form
        class="form-add-edit"
        [formGroup]="addEditForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field appearance="fill" hideRequiredMarker class="form-field">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title"/>
          <mat-error
            *ngIf="addEditForm.get('title').hasError('required')"
          >{{validationMessages.title['required']}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hideRequiredMarker class="form-field">
          <mat-label>Date</mat-label>
          <input matInput type="date" formControlName="date" />
          <mat-icon matSuffix>today</mat-icon>
          <mat-error
            *ngIf="addEditForm.get('date').hasError('required')"
          >{{validationMessages.date['required']}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hideRequiredMarker class="form-field">
          <mat-label>Location</mat-label>
          <input
            matInput
            type="text"
            formControlName="location"
          />
          <mat-icon matSuffix>location_on</mat-icon>
          <mat-error *ngFor="let errorName of errors('location')">
            <span *ngIf="addEditForm.get('location').hasError(errorName)">
              {{validationMessages.location[errorName]}}
            </span>
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker class="form-field">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            rows="4"
            type="text"
            formControlName="description"
          ></textarea>
          <mat-error *ngFor="let errorName of errors('description')">
            <span *ngIf="addEditForm.get('description').hasError(errorName)">
              {{validationMessages.description[errorName]}}
            </span>
          </mat-error>
        </mat-form-field>

        <div id="save-btn">
          <button mat-raised-button color="primary" type="submit" class="btn-hero-primary"
            [disabled]="addEditForm.invalid"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
