.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

h1 {
  margin: 0 0 0.8rem 0;
  text-align: center;
}

.add-edit-event-card {
  width: 50rem;
}

.form-add-edit {
  display: flex;
  flex-flow: column;
}

#save-btn {
  display: flex;
  justify-content: flex-end;
}
