<div class="grid-container">
  <mat-card class="login-card" @fadeInBottom>
    <div class="section-title">
      <h1><span class="hero-primary">Login</span></h1>
    </div>

    <div class="form">
      <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" hideRequiredMarker class="form-field">
          <mat-label>Email</mat-label>
          <input matInput required type="email" formControlName="email"/>
          <mat-error *ngIf="loginForm.get('email').hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">Invalid format</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" hideRequiredMarker class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password"/>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">This field is required</mat-error>
        </mat-form-field>

        <div class="login-btn-container">
          <button mat-raised-button class="login-btn btn-hero-primary" color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
          </button>
          <div class="signup">Need an account? <a [routerLink]="['signup']">Sign up</a></div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
