@import '~@angular/material/theming';
@import 'colors';
@import 'fonts';

@include mat-core();

$acn-app-primary: mat-palette($acn-green, 500);
$acn-app-accent: mat-palette($acn-gray, A200, A100, A400);

$acn-app-warn: mat-palette($mat-red);

$acn-app-theme: mat-light-theme($acn-app-primary, $acn-app-accent, $acn-app-warn);

$acn-typography: mat-typography-config(
  $font-family: #{$acn-font},
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($acn-typography);


@include angular-material-theme($acn-app-theme);

body {
  background-color: mat-color($acn-gray, 100);
}

@import 'layout';
@import 'components/button';
@import 'components/hero';
@import 'components/material';
