@import 'src/app/shared/styles/colors';
@import '~@angular/material/theming';

:host:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to left, mat-color($acn-green, 400), mat-color($acn-green, 800));
}

.toolbar {
  background-color: white;
  .login {
    margin-left: auto;
  }

}

a {
  cursor: pointer;
  text-decoration: none;
}
