<div class="grid-container" @fadeInBottom>
  <div class="section-title">
    <h1><span class="hero-primary">Event details</span></h1>
  </div>

  <div class="event-card-details" *ngIf="event$ | async as event">
    <mat-card class="event-card">
      <img mat-card-image class="card-image" src="{{ event.imageUrl }}" alt="{{ event.title }}">
      <mat-card-content class="card-content">
        <mat-card-subtitle class="card-subtitle">
          <span class="location"><mat-icon>location_on</mat-icon> {{ event.location }}</span>
          <span class="date"><mat-icon>today</mat-icon> {{ event.date | date }}</span>
        </mat-card-subtitle>
        <mat-card-title class="card-title">{{ event.title }}</mat-card-title>
        <p>{{ event.description }}</p>
        <div class="actions">
          <button
            class="delete-btn"
            mat-raised-button
            color="warn"
            [disabled]="(auth$ | async) === null"
            (click)="deleteEvent(event)"
          >
            Delete Event
          </button>
          <button
            mat-raised-button
            color="primary"
            class="btn-hero-primary"
            [disabled]="(auth$ | async) === null"
            [routerLink]="['edit']"
          >
            Edit Event
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
